<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366976681577-ivi8tt404ekd21694kmo4rdfmhpsnqou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366976681577-ivi8tt404ekd21694kmo4rdfmhpsnqou</string>
	<key>API_KEY</key>
	<string>AIzaSyAeU0MhU_PhOGMnlX9ADdEAty7RbntrlP8</string>
	<key>GCM_SENDER_ID</key>
	<string>366976681577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alypket</string>
	<key>PROJECT_ID</key>
	<string>alyp-ket-front</string>
	<key>STORAGE_BUCKET</key>
	<string>alyp-ket-front.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366976681577:ios:469ce43862792bd133c4f8</string>
</dict>
</plist>